/node_modules
/public/build
/public/assets
/public/manifest.json
components.d.ts
public/mockServiceWorker.js
/public/hot
/storage/*.key
/vendor
.env
yarn-error.log
/.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Lock
package-lock.json
composer.lock

node_modules
.DS_Store

# Env files
.env*
!.env.example
/storage/logs/laravel.log
/public/mockServiceWorker.js
/storage/api-docs/api-docs.json
public/.user.ini
public/.well-known
