// Write your overrides
.avatar-bg-0 { background-color: hsl(330deg, 42%, 68%); }
.avatar-bg-1 { background-color: hsl(300deg, 42%, 68%); }
.avatar-bg-2 { background-color: hsl(60deg, 42%, 68%); }
.avatar-bg-3 { background-color: hsl(90deg, 42%, 68%); }
.avatar-bg-4 { background-color: hsl(120deg, 42%, 68%); }
.avatar-bg-5 { background-color: hsl(150deg, 42%, 68%); }
.avatar-bg-6 { background-color: hsl(180deg, 42%, 68%); }
.avatar-bg-7 { background-color: hsl(210deg, 42%, 68%); }
.avatar-bg-8 { background-color: hsl(240deg, 42%, 68%); }
.avatar-bg-9 { background-color: hsl(270deg, 42%, 68%); }
.avatar-bg-10 { background-color: hsl(30deg, 42%, 68%); }
.avatar-bg-11 { background-color: hsl(0deg, 42%, 68%); }
